<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: space-around; align-items: center; background-color: rgb(33, 255, 174); color: aliceblue; padding: 100px;">
        <p>Home</p>
        <p>Contact</p>
        <p>About</p>
        <p>Help</p>
    </div>
</body>
</html>