<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Report Card</h1>
    <h2><%# content %></h2>
    <p>
        <!-- <%= student.name %>
        <%= student.roll %>
        <%= student.subject %> -->
    </p>

    <%
    student.forEach((data) => {
        "<h1>data.name</h1>"
    })
    %>
</body>
</html>