* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

main {
  width: 100%;
  padding: 30px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

main .card {
  width: 300px;
  height: 400px;
  border: 2px solid white;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

main .card #img-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

main .card #img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main .card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

main .card h3 {
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: rgb(28, 205, 249);
}

main .card #description {
  font-size: small;
  margin-bottom: 10px;
  font-weight: 100;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-bottom: 30px;
}

span {
  background-color: white;
  color: green;
  padding: 10px 30px;
  border-radius: 8px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
}
