/* 

Topics to be cover:
    1. What css grid is and how it's different from flexbox
    2. display: grid
    3. grid-template-columns and grid-template-rows
    4. units: px, %, fr, auto
    5. grid-gap, row-gap, column-gap
    6. repeat() function
    7. minmax() function
    8. grid-column-start, grid-column-end, grid-row-start, grid-row-end
    9. Shorthand: grid-column and grid-row
    10. grid-template-areas and grid-area
    11. Alignment: justify-items, align-items, justify-content, align-content.

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
  grid-template-columns: 50% 50%;
  grid-template-columns: 10% 200px 3rem 30%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-columns: 100px minmax(100px, 400px) 100px minmax(200px, auto);
  grid-template-rows: 100px 200px 50%;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-rows: 200px 1fr auto;

  /* gap */
  /* row-gap: 10px;
    column-gap: 20px; */
  grid-gap: 30px;
  gap: 30px; /*same as grid gap or by default gap is grid gap*/

  /* align-items: start;
    justify-content: start; */

  grid-template-columns: repeat(3, 100px);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.main .child {
  background-color: rgb(132, 17, 71);
  border: 3px solid white;

  height: 100px;
  width: 100px;
}

/*            */

.parent {
  height: 100%;
  width: 100%;
  background-color: rgba(56, 56, 56, 0.301);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr 100px;
  grid-gap: 10px;
}

.parent .child {
  background-color: darkorchid;
  border: 3px solid white;
}

#child1 {
  /* grid-row-start: 1;
  grid-row-end: 4;
  grid-row-end: -1;
  grid-row-end: 3; */

  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-column-end: 4;
  grid-column-end: -1; /*to the end*/

  /* grid-row-start: 1;
  grid-row-end: -1; */

  /* grid-row: 1/3;
  grid-row: 1/4; */

  /* grid-column: 1/4;
  grid-column: 1/3; */

  grid-column: 1/3;
  grid-row: 1/3;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 200px;
  grid-template-areas:
    "header header"
    "aside section"
    "footer footer";
    grid-gap: 10px;
    padding: 10px;
}

header {
  background-color: darkcyan;
  grid-area: header;
}

aside {
  background-color: rgb(1, 0, 71);
  grid-area: aside;
}

section {
  background-color: rgb(255, 0, 157);
  grid-area: section;
}

footer {
  background-color: rgb(60, 0, 255);
  grid-area: footer;
}

header,aside,section,footer {
  padding: 10px;
  border-radius: 5px;
}

